# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
htmlcov/

#PyCharm files
.idea/

#Virtual-env
env/