apiclient==1.0.4
certifi==2022.12.7
charset-normalizer==2.1.1
decorator==5.1.1
dnspython==2.2.1
idna==3.4
mongoengine==0.24.2
py==1.11.0
pymongo==4.3.3
requests==2.28.1
retry==0.9.2
StrEnum==0.4.9
urllib3==1.26.13